.Moviecard {
  margin-bottom: 15px;
  .cards {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: auto;
  }
  .Button {
    //display: block;
    margin: auto;
    align-self: center;
  }
}

.card-body {
  margin-bottom: 15px;
}
