.App {
  margin-top: 90px;
}

.login-view {
  margin-top: 90px;
  display: block;
}

/* .col {
  border-style: groove;
  border-color: rgba(95, 94, 94, 0.062);
} */

.navbar {
  .bg-light {
    background-color: black;
  }
}
